:root{
    /* Texto */ 
    --azulOscuro: hsl(238, 29%, 16%);
    --rojoClaro:hsl(14, 88%, 65%);

    --azulMOscuro:hsl(237, 12%, 33%);
    --azulGrisado:hsl(240, 6%, 50%);
    /* Fondo */
    --violetaClaro: hsl(273, 75%, 66%);
    --azulClaro:hsl(240, 73%, 65%);
    --azulLGrisado: hsl(240, 5%, 91%);
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}    


body{
    font-size: 16px; 
    font-family: 'Kumbh Sans', sans-serif;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: linear-gradient(to top, var(--azulClaro),var(--violetaClaro));
}

.contenedor{
    margin: 0 auto;
    max-width: 100%;
    height: 28rem;
    display: flex;
    border-radius: 1rem;
    background-color: var(--azulLGrisado);
    position: relative;
    /* box-shadow: 10px 10px 0px 10px var(--violetaClaro) ; */
   


}

h1{
    margin:1rem 0;
    text-transform: uppercase; 
    font-size: 2rem;
    color: var(--azulOscuro);
}

h2{
    font-size: 1rem;
    font-weight: 400;
    color: var(--azulOscuro);
    

}

p{
    font-size: 0.8rem;
    color: var(--azulMOscuro);
    margin: 0.5rem 0 1rem;  
}

hr{
   color: var(--azulLGrisado);
   opacity: 0.5;
}

a{
    text-decoration: none;

}

a:visited{
    font-weight: 400;
    color: var(--azulOscuro);
}

a:hover{
    color: var(--rojoClaro);
}
/*Clases */

.flecha{
    padding: 1rem;
}

.imagen, .informacion{
    width: 25rem;
    
 }

.informacion{
    margin: 2rem;
    padding-right: 2.5rem;
}

.informacion__contenido{
    display: flex;
    height: 2.5rem;
    align-items: center;
    justify-content: space-between;
}

.noMostrar{
    display: none;
}

.bold{
    font-weight: 700;
}




.imagen{
    background-image: url(/images/bg-pattern-desktop.svg);
    background-repeat: no-repeat;
    background-size: 200%;
    background-position-x: -29rem;
    background-position-y: -15rem;
    position: relative;
}

.imagen__monitor{
    height: 100%;
    background-image: url(/images/illustration-woman-online-desktop.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-x: -4rem;
    background-position-y: 3rem;
}

.imagen__caja{
    position: absolute;
    width:9rem;
    left: -4.5rem;
    top: 11rem;
}


.flecha--invertida{
    transform: rotate(180deg);
}

